{% extends "base.html" %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
      {{ course.category }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{course.title}}</h5>
      <p class="card-text">Price: {{course.price}}</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
    <div class="card-footer text-body-secondary">
      Students Quantity: {{course.students_qty}}
    </div>
  </div>
{% endblock %}